/*******************
 backend/jobs.config
 *******************

 'backend/jobs.config' is a Velo configuration file that lets you schedule code to run repeatedly at specified intervals. 

 Using scheduled jobs you can run backend code without any user interaction. For example, you could generate a weekly 
 report or run nightly data cleansing.

 You schedule code to run by creating a job.
 Each job defines which function to run and when to run it.

 ---
 More about Scheduled Jobs: 
 https://support.wix.com/en/article/velo-scheduling-recurring-jobs
 
 Online tool for building Velo cron expressions
 https://wix.to/NDAQn6c

*******************/

// The following code is an example of a job. Adapt the code for your specific use case.

{
  "jobs": [
    {
      "functionLocation": "/weather.js",
      "functionName": "updateDailyWeather",
      "description": "Fetch and store 30-day forecast",
      "executionConfig": {
        "time": "00:24"
      }
    }
  ]
}
